@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    font-size: 15px;
}

header {
    background-color: #323233;

    border: 2px solid #939494;
    border-radius: 20px;

    font-size: 2em;
    color: aliceblue;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin: 10px;
    padding: 10px;
    width: 500px;
}

.headerIcon {
    transform: scale(2.5);
    margin: 20px;
}

main {
    border: 2px solid #939494;
    border-radius: 20px;

    width: 500px;
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 10px;
    padding: 10px;
    width: 500px;
}

.task {
    border: 2px solid #939494;
    border-radius: 20px;    

    background-color: #526ab4;

    color: aliceblue;

    word-break: break-all;

    margin: 10px;
    padding: 10px;
    width: 450px;

    display: grid; 
    grid-template-columns: 13fr 1fr 1fr 1fr; 
    grid-template-rows: auto auto auto; 
    grid-template-areas: 
      "title check edit delete"
      "description description description description"
      "datetime datetime datetime datetime";
}

.deleteTaskIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: delete;

    margin: 2px;
}

.editTaskIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: edit;

    margin: 2px;
}

.checkTaskIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: check;

    margin: 2px;
}

.taskTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: title;

    font-size: 1.5em;
    text-align: center;
}

.taskDescription {
    text-align: left;

    grid-area: description;

    font-size: 1em;

    margin-top: 10px;
}

.editTaskIcon {
    transform: scale(1.5);
}

.editTaskIcon:hover {
    opacity: 0.5;
}

.deleteTaskIcon {
    transform: scale(1.5);
    background-color: #e81123ce;
    border-radius: 5px;    
}

.deleteTaskIcon:hover {
    opacity: 0.5;
}

.checkTaskIcon {
    transform: scale(1.5);
}

.checkTaskIcon:hover {
    opacity: 0.5;
}

.taskDateTime {
    margin-top: 10px;
    grid-area: datetime;
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 1em;
}

.taskDateTime span {
    width: 50%;
}

.addTaskForm {
    border: 2px solid #939494;
    border-radius: 20px;    

    background-color: #526ab4;

    color: aliceblue;

    word-break: break-all;

    margin: 10px;
    padding: 10px;
    width: 450px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 10px;
}

.addTaskForm input {
    width: 100%;
    height: 30px;
    outline: none;

    border: 2px solid #939494;
    border-radius: 10px;    

    background-color: #323233;

    color: aliceblue;

    text-align: center;
}

.addTaskForm button {
    height: 30px;
    width: 100%;
    border-radius: 10px;
        
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.addTaskForm .errorTextField {
    color: #ff6969;
    font-weight: 100;
}