@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e1e;
}

header {
    border: 2px solid #939494; 
    padding: 20px;
    margin: 10px;
    background-color: #323233;
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    display: grid;
    grid-template-columns: 40px 1fr;
}

main {
    border: 2px solid #939494;
    margin: 10px;
    text-align: center;
}

aside {
    border: 2px solid #939494;
    margin: 10px;
    float: right;
    width: 100px;
}

.task {
    border: 2px solid #939494;
    margin: 10px;
    background-color: #526ab4;
    font-weight: 150;
    font-size: 15px;

    display: grid;
    grid-template: 
        "tl ed del" auto 
        "ds ds ds" auto / 94% 3% 3%;
}

.task .deleteTaskIcon {
    transform: scale(2);
    margin: auto;
    grid-area: del;
}

.task .deleteTaskIcon:hover {
    opacity: 0.5;
}

.task .editTaskIcon {
    transform: scale(2);
    margin: auto;
    grid-area: ed;
}

.task .editTaskIcon:hover {
    opacity: 0.5;
}

.task .taskTitle {
    margin: 10px;
    font-size: 20px;
    grid-area: tl;
}

.task .taskDescription {
    margin: 10px;
    grid-area: ds;
}